* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #2f2f2f;
    font-family: monospace;
    color: #ffffff;
    overflow: hidden;

}
section {
    position: relative;
    
}

section::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #848586, #131212); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    right: 250px;
    top: -120px;
    border-radius: 50%;
}

section::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #848586, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    left: 250px;
    bottom: -100px;
    border-radius: 50%;
}

.box {
    position: relative;
    min-width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, .5) ;
    border-right: 1px solid rgba(255, 255, 255, .2) ;
    border-bottom: 1px solid rgba(255, 255, 255, .2) ;
}
h2 {
    margin-bottom: 20px;
}

.list {
    display: flex;
    align-items: center ;
    gap: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
    color: #fff;
}

.list:hover {
    background: rgba(255, 255, 255, 1);
    color: #000000;
    transform: scale(1.1) translateX(30px) translateY(-20px);
}

.img-box {
    margin-top: 2.5px;
}
.img-box img {
    border-radius: 20%;
    width: 80px;
    height: 80px;
}

span {
    font-weight: 400;
    font-size: 12px;
}

@media (max-width:480px) {

    section::before {
        width: 200px;
        height: 200px;
        right: 250px;
        top: -120px;
    }
    
    section::after {
        width: 200px;
        height: 200px;
        left: 250px;
        bottom: -100px;
    }
    .box {
        min-width: 350px;
        min-height: 300px;
    }

    .list {
        gap: 10px;
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.1);
        padding: 10px;
    }

    .img-box img {
        width: 50px;
        height: 50px;
    }
    
}
